/* --- Reset --- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.hide {
	display:none;
}

.right {
	float: right;
}

.fa:hover {
	transform: scale(1);
	cursor: pointer;
}

.comments__overflow,
.comments_list__overflow {
	background-color: #E0E0E0;
	padding: 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}

.top-text {
	color: #333333;
	font-size: 12px;
	margin-bottom: 10px;
}

.top-choose > div > span {
	margin-right: 10px;
}

.top-choose > div {
	margin-bottom: 5px;
}

.dropdown-comments-block {
	display: inline-block;
	margin-right: 1.5%;
}

.dropdown-comments-block:last-child {
	margin-right: 0;
}

.dropdown-comments-block:nth-child(1) {
	width: 13%;
}

.dropdown-comments-block:nth-child(2) {
	width: 41%;
}

.dropdown-comments-block:nth-child(3) {
	width: 20%;
}

.dropdown-comments-block:nth-child(4) {
	width: 20%;
}

.dropdown-comments-title {
	margin: 10px 0;
	font-size: 16px;
}

.dropdown-comments-block .dropdown-comments-menu,
.dropdown-comments-block .dropdown-comments-list,
.dropdown-comments-block .dropdown-comments-item {
	width: 100%;
}

.dropdown-comments-menu {
	display: inline-block;
	width: 150px;
	background-color: #fff;
	padding: 5px 10px;
	position: relative;
	border: 1px solid lightgrey;
}

.dropdown-comments-menu:hover {
	cursor: pointer;
}

.dropdown-comments-toggle {
	float: right;
}

.dropdown-comments-toggle.down:before {
	content: "\f0d7";
}

.dropdown-comments-toggle.up:before {
	content: "\f0d8";
}

.dropdown-comments-list {
	position: absolute;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	top: 25px;
	left: 0;
	z-index: 10;
}

.dropdown-comments-item {
	background-color: #fff;
	display: inline-block;
	width: 100%;
	padding: 5px 10px;
}

.dropdown-comments-item:hover {
	cursorL pointer;
	background-color: #E0E0E0;
}

.comments-number {
	display: inline-block;
	position: relative;
}

.number-of-comments {
	color: #fff;
	width: 100%;
	display: inline-block;
	position: absolute;
	z-index: 5;
	font-size: 12px;
	left: 0;
	top: 8px;
	text-align: center;
	font-family: sans-serif;
}

.comments-icon {
	position: absolute;
	left: 10px;
	top: -20px;
	z-index: 2;
}

.comments-icon:before {
	content: "\f075";
	font-size: 28px;
	color: #A2A2A2;
}

.comments-icon.fa:hover {
	cursor: auto;
}

.comments-number.local {
	float: right;
	position: relative;
	right: 40px;
	top: 10px;
}

.new-comment-form {
	width: 100%;
}

.new-comment-form > input {
	display: inline-block;
	width: calc(100% - 50px);
}

.new-comment-form.reply-input {
	padding-top: 10px;
}

.new-comment-form.reply-input > input {
	background-color: #E0E0E0;
}

.new-comment {
	width: calculate(100%-20px);
	padding: 5px 5px 4px;
}

.new-comment-send {
	color: #616161;
	background-color: transparent;
	font-size: 20px;
	margin: 0 10px;
	padding: 0;
}

.new-comment-send:hover {
	background-color: transparent;
}

.comment-block {
	margin-bottom: 5px;
}

.main-comment, .additional-comment {
	padding: 10px;
}

.main-comment {
	background-color: #fff;
}

.top-comment {
	margin: 5px 0;
}

.top-comment > time {
	font-size: 14px;
	margin-right: 20px;
}

.author-comment {
	font-weight: bold;
}

.expand-comment, .collapse-comment {
	font-size: 20px;
	float: right;
	margin-left: 10px;
}

.expand-comment:before {
	content: "\f106";
}

.collapse-comment:before {
	content: "\f107";
}

.middle-comment {
	margin-bottom: 10px;
}

.bottom-comment {
	height: 20px;
}

.additional-comment > .bottom-comment {
	border-bottom: 3px solid #cccccc;
	height: 25px;
}

.additional-comment:last-child .bottom-comment {
	border-bottom: none;
}

.tools-comment {
	float: right;
}

.tools-comment > span {
	margin-left: 15px;
	color: #616161;
}

.like-comment, .dislike-comment {
	font-size: 20px;
}

.like-comment:before {
	content: "\f164";
	color: #717317;
}

.dislike-comment:before {
	content: "\f165";
	color: #616161;
}

.assesment-comment {
	margin-right: 5px;
}

.top-comment.assesment-comment-toolbox {
	display: none;
	width: 250px;
	position: relative;
	top: -30px;
	left: 30px;
	z-index: 10px;
	background-color: #fff;
	padding: 7px 10px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.reply-comment:before {
	content: "\f112";
}

.edit-comment:before {
	content: "\f040";
}

.delete-comment:before {
	content: "\f00d";
}

.additional-comment {
	margin-left: 10px;
}

.hr-comment {
	margin-top: 5px;
}

.comments_list__overflow {
	background-color: #F4F4F4;
}

.comments-main {
	margin: 100px 0;
}

.comments-main-table {
	width: 100%;
}

.comments-main-th {
	font-size: 16px;
	text-align: left;
	padding-bottom: 20px;
	background-color: #F4F4F4;
}

.comments-main-td {
	padding: 20px 0;
	background-color: #DEDEDE;
	border-top: 1px solid grey;
}

.comments-main-th:nth-child(1),
.comments-main-td:nth-child(1) {
	width: 5%;
	padding-left: 10px;
}

.comments-main-th:nth-child(2),
.comments-main-td:nth-child(2) {
	width: 15%;
}

.comments-main-th:nth-child(3),
.comments-main-td:nth-child(3) {
	width: 25%;
}

.comments-main-th:nth-child(4),
.comments-main-td:nth-child(4) {
	width: 5%;
}

.comments-main-th:nth-child(5),
.comments-main-td:nth-child(5) {
	width: 15%;
}

.comments-main-th:nth-child(6),
.comments-main-td:nth-child(6) {
	width: 10%;
}

.comments-main-th:nth-child(7),
.comments-main-td:nth-child(7) {
	width: 15%;
}

.comments-main-tdcomment {
	background-color: #DEDEDE;
	padding: 10px 5px;
}

.comments-main-tdcomment p {
	padding: 10px 5px;
	background-color: #fff;
}