/* --- Reset --- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.hide {
	display:none;
}

.right {
	float: right;
}

.fa:hover {
	transform: scale(1);
	cursor: pointer;
}

.comments__overflow {
	background-color: #E0E0E0;
	padding: 20px;
}

.top-text {
	color: #333333;
	font-size: 13px;
	margin-bottom: 5px;
}

.top-choose > div > span {
	margin-right: 10px;
}

.top-choose > div {
	margin-bottom: 5px;
}

.dropdown-comments-menu {
	display: inline-block;
	width: 150px;
	background-color: #fff;
	padding: 5px 10px;
}

.dropdown-comments-menu:hover {
	cursor: pointer;
}

.dropdown-comments-toggle {
	float: right;
}

.dropdown-comments-toggle.down:before {
	content: "\f0d7";
}

.dropdown-comments-toggle.up:before {
	content: "\f0d8";
}

.comments-number {
	display: inline-block;
	position: relative;
}

.number-of-comments {
	color: #fff;
	font-size: 14px;
	display: inline-block;
	position: absolute;
	left: 20px;
	top: -13px;
	z-index: 5;
}

.comments-icon {
	position: absolute;
	left: 10px;
	top: -20px;
	z-index: 2;
}

.comments-icon:before {
	content: "\f075";
	font-size: 28px;
	color: #A2A2A2;
}

.new-comment-form {
	width: 100%;
}

.new-comment-form > input {
	display: inline-block;
	width: calc(100% - 50px);
}

.new-comment-form.reply-input {
	padding-top: 10px;
}

.new-comment-form.reply-input > input {
	background-color: #E0E0E0;
}

.new-comment {
	width: calculate(100%-20px);
	padding: 5px 5px 4px;
}

.new-comment-send {
	color: #333333;
	font-size: 20px;
	margin: 0 10px;
}

.comment-block {
	margin-bottom: 5px;
}

.main-comment, .additional-comment {
	padding: 10px;
}

.main-comment {
	background-color: #fff;
}

.top-comment {
	margin: 5px 0;
}

.top-comment > time {
	font-size: 14px;
	margin-right: 20px;
}

.author-comment {
	font-weight: bold;
}

.expand-comment, .collapse-comment {
	font-size: 20px;
	float: right;
	margin-left: 10px;
}

.expand-comment:before {
	content: "\f106";
}

.collapse-comment:before {
	content: "\f107";
}

.middle-comment {
	margin-bottom: 10px;
}

.bottom-comment {
	height: 20px;
}

.tools-comment {
	float: right;
}

.tools-comment > span {
	margin-left: 15px;
	color: #616161;
}

.like-comment, .dislike-comment {
	font-size: 20px;
}

.like-comment:before {
	content: "\f164";
	color: #717317;
}

.dislike-comment:before {
	content: "\f165";
	color: #616161;
}

.assesment-comment {
	margin-right: 5px;
}

.top-comment.assesment-comment-toolbox {
	display: none;
	width: 250px;
	position: relative;
	top: -30px;
	left: 30px;
	z-index: 10px;
	background-color: #fff;
	padding: 7px 10px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.reply-comment:before {
	content: "\f112";
}

.edit-comment:before {
	content: "\f040";
}

.delete-comment:before {
	content: "\f00d";
}

.additional-comment {
	margin-left: 10px;
}

.hr-comment {
	margin-top: 5px;
}